In [1]:
lst = [4,6,2,7,3,8,9]
m = 9

In [2]:
prices_to_counts = [0] * (9+1)

In [3]:
prices_to_counts

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [4]:
for price in lst:
    prices_to_counts[price] += 1

In [5]:
prices_to_counts

[0, 0, 1, 1, 1, 0, 1, 1, 1, 1]

In [6]:
sorted_prices = []

In [ ]:
for price, count in enumerate(prices_to_counts):
    for time in range(count):
        sorted_prices.append(price)

In [8]:
for p, c in enumerate(prices_to_counts):
    print(p,c)

0 0
1 0
2 1
3 1
4 1
5 0
6 1
7 1
8 1
9 1

In [11]:
'9 27'

'9 27'

In [12]:
9 27

SyntaxError: invalid syntax (<ipython-input-12-c99cdd375d04>, line 1)

In [13]:
9, 27

(9, 27)

In [14]:
a = '9 27'

In [15]:
a.split()

['9', '27']

In [19]:
n, m = int(a.split())

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [17]:
n

'9'

In [18]:
m

'27'

In [21]:
a = [1,1,1,1]
a.insert(2, 0)
a

[1, 1, 0, 1, 1]

In [35]:
out = 'dog \n cat'
print(out)
out

dog
 cat

'dog \n cat'

In [54]:
# Enter your code here. Read input from STDIN. Print output to STDOUT

def doormat(inp):

    # extract dimensions from space separated string input
    n, m = inp.split()
    n = int(n)
    m = int(m)
    print(n, m)

    # ensure inputs match guidelines
    if m != 3*n or n <= 5 or n >= 101:
        return 'Invalid dimensions'

    line = 1
    sym = '.|.'

    out = ''

    for i in range(1, n-1, 2):
        dash = int((m - (3*i))/2)
        out += (dash*'-' + sym*i + dash*'-' + '\n')
    
    wel = '-'*int((m-7)/2) + 'WELCOME' + '-'*int((m-7)/2)

    ans = out + wel + out[::-1]

    print(ans)

In [55]:
doormat('7 21')

7 21
---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WELCOME-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

In [43]:
int((7-1)/2)+1

4

In [89]:
regex_integer_in_range = r"^[1-9][\d]{5}$"	# Do not delete 'r'.
regex_alternating_repetitive_digit_pair = r"(\d)(?=\d\1)"	# Do not delete 'r'.


import re
#P = input()

#print (bool(re.match(regex_integer_in_range, P)) and len(re.findall(regex_alternating_repetitive_digit_pair, P)) < 2)

In [78]:
P = input()
bool(re.match(regex_integer_in_range, P))

True

In [93]:
P = input()
len(re.findall(regex_alternating_repetitive_digit_pair, P))

2

In [94]:
sin = 'I love to dance. I like to dance I. like to play chess.'

In [95]:
sin.split()

['I',
 'love',
 'to',
 'dance.',
 'I',
 'like',
 'to',
 'dance',
 'I.',
 'like',
 'to',
 'play',
 'chess.']

In [96]:
sin.split('.')

['I love to dance', ' I like to dance I', ' like to play chess', '']

In [102]:
sens = sin.split('.')

In [105]:
words = []
for i in sens:
    w = i.strip().split()
    if len(w) > 2:
        words.append(w)

words

[['I', 'love', 'to', 'dance'],
 ['I', 'like', 'to', 'dance', 'I'],
 ['like', 'to', 'play', 'chess']]

In [113]:
words[0][0:3]

['I', 'love', 'to']

In [118]:
trigrams = {}
for s in words:
    for j in range(len(s) - 2):
        tri = s[j] + ' ' + s[j+1] + ' ' + s[j+2]
        if trigrams.get(tri):
            trigrams[tri] += 1
        else:
            trigrams[tri] = 1

In [124]:
trigrams

{'I love to': 1,
 'love to dance': 1,
 'I like to': 1,
 'like to dance': 1,
 'to dance I': 1,
 'like to play': 1,
 'to play chess': 1}

In [122]:
max(trigrams.values())

1

In [135]:
mlist = []
maxtri = max(trigrams.values())

for k, v in trigrams.items():
    if v == maxtri:
        mlist.append(k)
mlist

['I love to',
 'love to dance',
 'I like to',
 'like to dance',
 'to dance I',
 'like to play',
 'to play chess']

In [136]:
2**9.91

962.0712951951482

In [144]:
import nltk
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import numpy as np
import pandas as pd

/Users/colinshanahan/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/colinshanahan/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/Users/colinshanahan/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/colinshanahan/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [137]:
d = {1: "I'd like an apple.",
2: "An apple a day keeps the doctor away.",
3: "Never compare an apple to an orange.",
4: "I prefer scikit-learn to orange."}

In [162]:
tfidf = TfidfVectorizer(stop_words = None)
tfidfvecs = tfidf.fit_transform(d.values())

In [163]:
tfidfvecs.todense()

matrix([[0.47380449, 0.47380449, 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.74230628, 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.2646963 , 0.2646963 , 0.4146979 , 0.        , 0.4146979 ,
         0.4146979 , 0.4146979 , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.4146979 , 0.        ],
        [0.55554509, 0.27777255, 0.        , 0.43518437, 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.43518437,
         0.34310435, 0.        , 0.        , 0.        , 0.34310435],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.48546061, 0.        , 0.        ,
         0.38274272, 0.48546061, 0.48546061, 0.        , 0.38274272]])

In [164]:
tfidf.vocabulary_

{'like': 8,
 'an': 0,
 'apple': 1,
 'day': 4,
 'keeps': 6,
 'the': 13,
 'doctor': 5,
 'away': 2,
 'never': 9,
 'compare': 3,
 'to': 14,
 'orange': 10,
 'prefer': 11,
 'scikit': 12,
 'learn': 7}

In [165]:
k = list(tfidf.vocabulary_.keys())
k.sort()
k

['an',
 'apple',
 'away',
 'compare',
 'day',
 'doctor',
 'keeps',
 'learn',
 'like',
 'never',
 'orange',
 'prefer',
 'scikit',
 'the',
 'to']

In [166]:
df = pd.DataFrame(data=tfidfvecs.todense(), columns = k)
df

,an,apple,away,compare,day,doctor,keeps,learn,like,never,orange,prefer,scikit,the,to
0,0.473804,0.473804,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.742306,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.264696,0.264696,0.414698,0.000000,0.414698,0.414698,0.414698,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.414698,0.000000
2,0.555545,0.277773,0.000000,0.435184,0.000000,0.000000,0.000000,0.000000,0.000000,0.435184,0.343104,0.000000,0.000000,0.000000,0.343104
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.485461,0.000000,0.000000,0.382743,0.485461,0.485461,0.000000,0.382743

In [168]:
df.iloc[0]

an         0.473804
apple      0.473804
away       0.000000
compare    0.000000
day        0.000000
doctor     0.000000
keeps      0.000000
learn      0.000000
like       0.742306
never      0.000000
orange     0.000000
prefer     0.000000
scikit     0.000000
the        0.000000
to         0.000000
Name: 0, dtype: float64

In [187]:
a = df.iloc[0] 

b = df.iloc[1]

num = a.dot(b.T)
den = np.linalg.norm(a) * np.linalg.norm(b)
num/den

0.25082858614263026

In [186]:
df.iloc[1]

an         0.264696
apple      0.264696
away       0.414698
compare    0.000000
day        0.414698
doctor     0.414698
keeps      0.414698
learn      0.000000
like       0.000000
never      0.000000
orange     0.000000
prefer     0.000000
scikit     0.000000
the        0.414698
to         0.000000
Name: 1, dtype: float64

In [182]:
tfidfvecs.todense()[0]

matrix([[0.47380449, 0.47380449, 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.74230628, 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ]])

In [189]:
np.linalg.norm(tfidfvecs.todense()[0])

0.9999999999999999

In [194]:
a = tfidfvecs.todense()[0] 
sims = []

for i in tfidfvecs.todense()[1:]:

    num = a.dot(i.T)
    den = (np.linalg.norm(a) * np.linalg.norm(i))
    sims.append((num/den)[0,0])

sims

[0.25082858614263026, 0.3948296335937737, 0.0]

In [203]:
np.argmax(sims) + 2

3

In [202]:
a = tfidfvecs.todense()[0] 
anorm = np.linalg.norm(a)
#sims = []

sims = [(a.dot(i.T)/(anorm * np.linalg.norm(i)))[0,0] for i in tfidfvecs.todense()[1:]]

sims

[0.25082858614263026, 0.3948296335937737, 0.0]